html{
    font-size: 16px;
}

#About-Me-stage{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */

    margin: 0 auto;
    width: 95%;
}

#About-Me{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    margin: 0 auto;
    
    width: 65em;
    min-width: 857px;

    background-color: #FAEFDC;

    padding-left: 1.5em;
    padding-right: 1.5em;

    /* border: 2px solid blue; */
}

/* selecting all the elements in the div */
#About-Me *{
    /* aligning the text in the center */
    text-align: center; 
}

/* selecting the h2 tag in the div */
#About-Me h2{
    color: #113A6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 280%;
}

/* selecting the p tag in the div */
#About-Me p{
    color: #003C6E;
    font-family: 'Comfortaa', cursive;
    font-size: 140%;
}

@media (max-width: 600px) and (min-width: 330px){
    #About-Me-stage{
        flex-direction: column;
        justify-content: center;
        width: 98vw;
        
        /* border: 5px solid darkgreen; */
    }

    #About-Me{
        width: 85vw;
        margin: 0 auto;

        min-width: 65vw;

        /* border: 3px solid black; */
    }
}