#Contact-Me-stage{

    padding-top: 7%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;

    /* border: 5px solid black; */
}

.Contact-Me {
    background-color: #FAEFDC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.Contact-Me h2{
    text-align: center;

    padding: 1%;

    color: #113A6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 280%;

    margin-top: 0%;
    margin-bottom: 0%;
}

.Contact-Me h3{
    text-align: center;

    padding: 1%;

    color: #113A6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;

    margin-top: 0%;
    margin-bottom: 2%;
}

#image-container{
    display: flex;
    justify-content: center;

    padding-bottom: 1%;
    /* border: 5px solid blue; */
}