html.dark-mode {
    background-color: #121212;
    /* background-color: #0A0A0A; */
    /* background-color: rgba(35, 39, 47, 0.9); */
}

.IamManas.dark-mode{
    background-color: rgba(22, 24, 29, 0.9);
    /* background-color: rgba(22, 24, 29, 0.9); */
}

.IamManas.dark-mode h1{
    color: #e5e7eb;
}


/* nav bar dark-mode setting */
.Nav-Bar.dark-mode{
    background-color: #000000;
    /* background-color: rgba(35, 39, 47, 0.9); */
}

.Nav-Bar a.dark-mode{
    color: #F5F5F5;
    /* color: #e5e7eb; */
}

.Nav-Bar a:hover.dark-mode{
    /* background-color: #BB86FC; */
    background-color: #FF6F61;
    /* background-color: rgba(246,247,249,.05); */
}

.Resume.dark-mode{
    color: #e5e7eb;
}

.Resume:hover.dark-mode{
    background-color: rgba(246,247,249,.05);
}

.switch-button.dark-mode{
    background-color: rgba(35, 39, 47, 0.9);
    color: #e5e7eb;
}

.material-icons.dark-mode{
    color: #e5e7eb;
}

.material-icons:hover.dark-mode{
    background-color: rgba(246,247,249,.05);
}

/* rgba(22, 24, 29, 0.9) -> use this color for the stack materials */

/* about me dark-mode setting */
.About-Me.dark-mode{
    background-color: rgba(22, 24, 29, 0.9);
}

.About-Me.dark-mode *{
    color: #e5e7eb;
}

/* work experience dark-mode setting */
.WEX-Title.dark-mode h2{
    background-color: rgba(22, 24, 29, 0.9);    
    color: #e5e7eb;
}

/* content boxes dark-mode setting */
.content.dark-mode{
    background-color: rgba(22, 24, 29, 0.9);
}

.content.dark-mode *{
    color: #e5e7eb;
}

/* education dark-mode setting */
.EDU-Title.dark-mode h2{
    background-color: rgba(22, 24, 29, 0.9);
    color: #e5e7eb;
}

/* project dark-mode setting */
.PRJT-Title.dark-mode h2{
    background-color: rgba(22, 24, 29, 0.9);
    color: #e5e7eb;
}

.Contact-Me.dark-mode {
    /* background-color: rgba(22, 24, 29, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
}

.Contact-Me.dark-mode *{
    color: #e5e7eb;
}