/* First Page Structure and Styling */
#First-Page-stage {
  /* margin-bottom: 6.8em; */
  padding-top: 6.5em;

/* border: 2px solid black; */
  
}

.First-Page{
  display: flex;
  justify-content:center;
  align-items: stretch;  /*aligning along the cross axis*/

  /* border: 2px solid blue; */
  width: 95%;
  margin: 0 auto;
}

/* shadow feature - the raised stack feeling */
.First-Page img, .IamManas{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;

}

#MyImage{
  flex: 0 0 auto; /* Set flex basis to auto to maintain the original image size */
  height: 100%; /*Make the image fill the height of its parent container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */

  width: 33em;
}

.typewriter-container {
  display: flex;
  flex-direction:row ;
}


.IamManas{
  width: 38em;
  min-width: 378px;
  /* padding: 1em; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #FAEFDC;
}

.IamManas p{
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.IamManas h1, .typewriter-container{
  margin: 0em;
  font-family: 'Rancho', cursive;
  font-style: italic;
  font-weight:bold;
  color: #113A6A;
  font-size: 2.5rem;
}

.IamManas h1{
  padding-left: 0.8em;
}

.typewriter-container h1{
  margin-right: 8px;
}

.IamManas p{
  margin: 0em;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.3rem;
  color: #113A6A;
}

