#Project-stage{
    display: flex;
    justify-content: center;

    /* margin-top: 1%; */

    padding-top: 5%;
    margin-bottom: 0em;
    padding-bottom: 0em;

    /* border: 2px solid black; */
}

#Project{
    width: 96%;

    min-width: 908px;
    margin: 0 auto;

    /* border: 2px solid blue; */
}

#PRJT-Title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.project-container{
    display: flex;
    justify-content: center;
    
    margin-top: 1em;

    /* border: 2px solid green; */
}

#Project h2{
    text-align: center;

    padding: 1%;
    
    background-color: #FAEFDC;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    color: #113A6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 280%;

    margin-bottom: 2%;
}

.project-container .all-images{
    width: 8.5em;
    height: 9.5em;
}