.custom-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    /* Adjust from the center */
    padding: 10px;
    background-color: rgb(229,231,235);
    border-radius: 0 10px 10px 0;
    z-index: 1000;
    height: 17.5em;
}

.custom-sidebar-icon{
    display: block;
    margin: 10px 0; 
    transition: transform 0.3s ease;
    width: 30px; /* Fixed width for icons and centering text */
    height: 30px; /* Fixed height for icons */
    text-align: center; /* Center text horizontally */
    color: #ccc; /* Light grey text color */
    font-size: 14px; /* Appropriate font size for readability */
    line-height: 30px; /* Align text vertically within its container */
}

.custom-sidebar p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;  
    height: auto;  
    margin-top: 2.3em;
    font-size: 2rem;
    color: #113A6A;
    transform: rotate(-90deg);  
    transform-origin: center;  
    white-space: nowrap;  
    font-family: 'Rancho', cursive;
    font-style: italic;
    font-weight:bold;
  }

.custom-sidebar-icon svg {
    width: 100%;
    height: 100%;
    fill: #113A6A;
}

.custom-sidebar-icon:hover {
    transform: scale(1.1);
    fill: #007bff;
}