#Work-Experience-stage{
    display: flex;
    justify-content: center;

    /* margin-top: 1%; */

    padding-top: 5%;
    margin-bottom: 0em;
    padding-bottom: 0em;

    /* border: 2px solid black; */
}

#Work-Experience{
    width: 96%;

    min-width: 908px;
    margin: 0 auto;

    /* border: 2px solid blue; */
}

#WEX-Title{
    display: flex;
    justify-content: center;
    text-align: center;
}

#Work-Experience h2{
    text-align: center;

    padding: 1%;
    
    background-color: #FAEFDC;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    color: #113A6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 280%;
    margin-bottom: 2%;
}

.job-container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    /* border: 2px solid green; */
}

.all-images{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    width: 8.5em;
    height: 9.5em;

    margin: 0.8em;
    margin-left: 0em;
    margin-top: 0em;
}

.content{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    background-color: #FAEFDC;
    width: 60em;
    padding: 1em;

    /* border: 2px solid red; */
}

.content *{
    color: #003C6E;
    font-family: 'Comfortaa', cursive;
}

.content h3{
    margin-top: 0%;
    font-size: 160%;
}

.content h5{
    font-size: 105%;
}

.content li {
    padding-bottom: 1%;
    font-size: 104%;
}