html{
  font-size: 16px;
}

body{
  margin-top: 0px;
  margin-left:0;
  margin-right: 0px;
}

/* Navigation Bar Structure and Styling */
.Nav-Bar{
  /* flexbox properties */
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* nav bar structure */
  position: fixed;
  width: 100vw;
  padding: 0px;

  /* removing the bullet points from li tag */
  list-style-type: none;

  background-color: rgba(255, 255, 255, 0.9);
}

/* styling the components of the nav bar */
.Nav-Bar a{
  font-size: 130%;
  font-family: Optimistic Text, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: rgb(64, 71, 86);

  /* removing the underline and any other decoration from a text */
  text-decoration: none;

  /* making the elements have a semi-circular border */
  border-radius: 50px;

  /* making the elements have space in the containers */
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  cursor: pointer;
  /* border: 3px solid black; */
}

.Nav-Bar a:hover{
  background-color: rgba(35,39,47,.05);
}

/* memoji icon at the left corner of the nav bar*/
#Logo{
  flex-basis: 15%;
  border-radius: 50%;
}

/* My name next to the memoji*/
#MyName{
  margin: 10px;
  padding: 5px;
}



.Website-Logo{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 0;

  width: 27%;
  /* border: 5px solid blue; */
}

#First-Page{
  padding-top: 6%;
}

/* First Page Structure and Styling */
.First-Page-stage {
  /* margin-bottom: 40px; */
  /* width: 100vw; */
  background-color: rgb(229,231,235);
  /* background-color: white; */
  height: 100vh;

  
}

#First-Page{
  display: flex;
  justify-content:center;
  align-items: stretch;  /*aligning along the cross axis*/

  /* margin-bottom: 40px; */
  /* background-color: #C2E6DF; */
}

#First-Page img, #First-Page div{
  /* box-shadow: 4px 2px 3px white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;

}

#MyImage{
  flex: 0 0 auto; /* Set flex basis to auto to maintain the original image size */
  height: 100%; /* Make the image fill the height of its parent container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

#IamManas{
  flex: 0.49;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: x-large;
  background-color: #FAEFDC;
  /* background-color: #FCFFE6; */
  /* border: 5px solid black; */
}

#IamManas h1{
  margin: 0px;

  /* font-family: 'Courgette', cursive; */

  
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Rancho', cursive;
  font-style: italic;
  font-weight:bold;
  /* color: #182153; */
  color: #113A6A;
  font-size: 4.3em;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
